<div style="height: 300px;"></div>
<div class="b-popup" style="">
  <div class="b-popup_content">
    <form class="b-popup_content_form" method="post" action="<%=login_path%>">
      <div class="b-popup_content_form_fieldset">
      	<p style="text-align: center;">В данный момент доступ к сайту осуществляется только по промо-кодам. Введите промо-код:</p>
        <input type="text" name="code" style="width: 387px; font-size: 20px;">
      </div>
    </form>
  </div>
</div>